{% extends 'pages/base.html' %}
{% block title %}Comitee | HUET{% endblock %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-4">Ban tổ chức</h1>
    <div class="table-responsive shadow rounded bg-white p-3">
      <table class="table table-striped table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Chức vụ</th>
          </tr>
        </thead>
        <tbody>
          {% for member in comitee_members %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ member.name }}</td>
              <td>{{ member.position }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
